<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-3">
    <nb-card class="h-100">
      <nb-card-header>Commandes</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-8 col-xxxl-9">
    <nb-card size="large" class="h-100">
      <nb-card-body>
          <iframe scrolling="no" style="border: none; width: 100%; overflow: hidden;" src="http://localhost:5601/app/kibana#/visualize/edit/47280f40-8ddc-11e9-97cf-d523526a67e0?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A3000)%2Ctime%3A(from%3Anow%2Fy%2Cto%3Anow%2Fy))" height="800" width="800"></iframe>
      </nb-card-body>
    </nb-card>
  </div>
</div>