<iframe scrolling="no" *ngIf="num == 1" style="border: none; width: 100%; overflow: hidden;" src="http://localhost:5601/app/kibana#/dashboard/a81b1620-8de7-11e9-97cf-d523526a67e0?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A3000)%2Ctime%3A(from%3Anow%2Fy%2Cto%3Anow%2Fy))" height="600" width="800"></iframe>

<iframe scrolling="no" *ngIf="num == 2" style="border: none; width: 100%; overflow: hidden;" src="http://localhost:5601/app/kibana#/visualize/edit/04f473e0-8de4-11e9-97cf-d523526a67e0?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A3000)%2Ctime%3A(from%3Anow%2Fy%2Cto%3Anow%2Fy))" height="600" width="800"></iframe>

<iframe scrolling="no" *ngIf="num == 3" style="border: none; width: 100%; overflow: hidden;" src="http://localhost:5601/app/kibana#/dashboard/d8090770-8ddd-11e9-97cf-d523526a67e0?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A3000)%2Ctime%3A(from%3Anow%2Fy%2Cto%3Anow%2Fy))" height="600" width="800"></iframe>

<iframe scrolling="no" *ngIf="num == 4" style="border: none; width: 100%; overflow: hidden;" src="http://localhost:5601/app/kibana#/dashboard/ab89bfc0-8dd6-11e9-97cf-d523526a67e0?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A3000)%2Ctime%3A(from%3Anow%2Fy%2Cto%3Anow%2Fy))" height="600" width="800"></iframe>
